@font-face {
   font-family: "Causten";
   src:
      url("../fonts/causten-bold.woff") format("woff"),
      url("../fonts/causten-bold.woff2") format("woff2");
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Causten";
   src:
      url("../fonts/causten-semi-bold.woff") format("woff"),
      url("../fonts/causten-semi-bold.woff2") format("woff2");
   font-weight: 600;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Causten";
   src:
      url("../fonts/causten-medium.woff") format("woff"),
      url("../fonts/causten-medium.woff2") format("woff2");
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Causten";
   src:
      url("../fonts/causten-regular.woff") format("woff"),
      url("../fonts/causten-regular.woff2") format("woff2");
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Core Sans C";
   src:
      url("../fonts/coresansc-55medium.woff") format("woff"),
      url("../fonts/coresansc-55medium.woff2") format("woff2");
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Core Sans C";
   src:
      url("../fonts/coresansc-65bold.woff") format("woff"),
      url("../fonts/coresansc-65bold.woff2") format("woff2");
   font-weight: 600;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Core Sans C";
   src:
      url("../fonts/coresansc-75extrabold.woff") format("woff"),
      url("../fonts/coresansc-75extrabold.woff2") format("woff2");
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Core Sans C";
   src:
      url("../fonts/coresansc-85heavy.woff") format("woff"),
      url("../fonts/coresansc-85heavy.woff2") format("woff2");
   font-weight: 800;
   font-display: swap;
   font-style: normal;
}
